/* Libs */
@import url("//fonts.googleapis.com/css?family=Lato:400,300,100");
@import url("//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css");

/* General */
* {
    box-sizing: border-box;
    outline: none;
}

body {
    background: #bdc3c7 url("http://www.subirimagenes.com/imagedata.php?url=http://s2.subirimagenes.com/otros/9067576mar.jpg") 0 0 no-repeat;
    background-size: cover 100%;
    color: black;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Lato';
    height: 100%;
    padding: 20px 0;
}

a {
    transition: all 0.1s ease-out;
    color: #e74c3c;
}

a:hover {
    color: #4BD3F4;
}

/* Card */
.card {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VjZjBmMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: linear-gradient(to bottom, #ffffff 0%, #ecf0f1 100%);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    display: block;
    position: relative;
    padding: 20px;
}

.card .card-info {
    margin-left: 10px;
}

.card .card-info .social-network {
    font-size: 0;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    margin-bottom: 15px;
}

@media (min-width: 639px) {
    .card .card-info .social-network {
        float: right;
        margin: 5px 0 0;
    }
}

.card .card-info .social-network .icon {
    background-color: #bdc3c7;
    border: 0;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    position: relative;
    margin-left: 10px;
}

.card .card-info .social-network .icon:first-child {
    margin: 0;
}

.card .card-info .social-network .icon:before {
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    border-radius: 16px;
    content: "";
    width: 32px;
    height: 32px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.card .card-info .social-network .icon.home:before {
    border: rgba(59, 89, 152, 0.7) 0 solid;
}

.card .card-info .social-network .icon.home:hover:before {
    border-width: 30px;
}

.card .card-info .social-network .icon i {
    color: white;
    font-size: 16px;
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    z-index: 1;
    margin-top: -7px;
}

.card .card-info hr {
    margin: 0 0 15px;
}

.card-img-top {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

.nav-link img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

/* Layout Adjustment */
.form-output-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-container,
.output-container {
    width: 48%;
}
